<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width"/>
<title>denryusen_multi - <%= htmlWebpackPlugin.options.title %></title>
<style>
.kifuforjs .players .mochi .tebanname { overflow: hidden; }
.scoregraph, .scoregraph .nav, .scoregraph svg.scoregraph, .scoregraph input.sfen, .scoregraph p.kifu, .scoregraph pre.reason { width: 570px; }
.scoregraph .nav, .scoregraph .nav .navtext { white-space: nowrap; overflow: hidden; }
.scoregraph-container { display: flex; flex-direction: row; flex-wrap: wrap; }
.scoregraph { width: 580px; flex: 0 0 auto; }
</style>
<script type="text/javascript">
var denryuUrlBase = "https://mzr.jp/denryusen/dr1_test1";
var denryuOrgUrlBase = "http://www.golan.sakura.ne.jp/denryusen/dr1_test1";
var gameBoardProp = {
    multiView: true,
    multiViewSpan: 1860000,
    url: (gameid) => denryuUrlBase + "/kifufiles/" + gameid + ".csa",
    urlOrg: (gameid) => denryuOrgUrlBase + "/kifufiles/" + gameid + ".csa",
    urlList: denryuUrlBase + "/csalist.php",
    logParser: log =>
        log
            .split("\n")
            .map((s) =>
                s.match(
                    /^<div><a href="\.\/kifufiles\/((?:[\w.-]+\+){4}\d+)\.csa" *>([^<]+)<\/a>/
                )
            )
            .filter((s) => s)
            .map((s) => ({
                gameId: s[1],
                gameName: s[2]
                    .replace(/▲/g, "☗")
                    .replace(/△/g, "☖"),
            })),
};
</script>
<script type="text/javascript" src="./kifu-for-js-2.0.0.min.js"></script>
</head>
<body><script type="text/javascript" src="./main.js"></script></body>
</html>
