<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width"/>
<title>denryusen - <%= htmlWebpackPlugin.options.title %></title>
<style>
.kifuforjs .players .mochi .tebanname { overflow: hidden; }
.scoregraph, .scoregraph .nav, .scoregraph svg.scoregraph, .scoregraph input.sfen, .scoregraph p.kifu, .scoregraph pre.reason { width: 570px; }
</style>
<script type="text/javascript">
var denryuUrlBase = "http://www.golan.sakura.ne.jp/denryusen/dr1_test2";
var gameBoardProp = {
    url: (gameid) => denryuUrlBase + "/kifufiles/" + gameid + ".csa",
    urlOrg: (gameid) => denryuUrlBase + "/kifufiles/" + gameid + ".csa",
    urlList: denryuUrlBase + "/kifulist.txt",
    logParser: log =>
        log
            .split("\n")
            .map((s) =>
                s.match(
                    /^<div><a href="\.\/kifujs\/((?:[\w.-]+\+){4}\d+)\.html"[^>]*>([^<]+)<\/a>/
                )
            )
            .filter((s) => s)
            .map((s) => ({
                gameId: s[1],
                gameName: s[2]
                    .replace(/▲/g, "☗")
                    .replace(/△/g, "☖"),
            })),
};
</script>
<script type="text/javascript" src="./kifu-for-js-2.0.0.min.js"></script>
</head>
<body><script type="text/javascript" src="./main.js"></script></body>
</html>
