<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width"/>
<title>floodgate - <%= htmlWebpackPlugin.options.title %></title>
<style>
@media only screen { 
.kifuforjs .players .mochi .tebanname { overflow: hidden; }
.scoregraph, .scoregraph .nav, .scoregraph svg.scoregraph, .scoregraph input.sfen, .scoregraph p.kifu, .scoregraph pre.reason { width: 570px; }
.scoregraph .nav, .scoregraph .nav .navtext { white-space: nowrap; overflow: hidden; }
.scoregraph-container { display: flex; flex-direction: row; flex-wrap: wrap; }
.scoregraph { width: 580px; flex: 0 0 auto; }
}
</style>
<script type="text/javascript">
var gameBoardProp = {
    multiView: true,
    multiViewSpan: 1860000,
    url: (gameid) =>
        [
            "https://mzr.jp/wdoor-latest/",
            gameid.substring(
                gameid.length - 14,
                gameid.length - 10
            ),
            "/",
            gameid.substring(
                gameid.length - 10,
                gameid.length - 8
            ),
            "/",
            gameid.substring(
                gameid.length - 8,
                gameid.length - 6
            ),
            "/",
            gameid,
            ".csa",
        ].join(""),
    urlOrg: (gameid) =>
        [
            "http://wdoor.c.u-tokyo.ac.jp/shogi/view/",
            gameid.substring(
                gameid.length - 14,
                gameid.length - 10
            ),
            "/",
            gameid.substring(
                gameid.length - 10,
                gameid.length - 8
            ),
            "/",
            gameid.substring(
                gameid.length - 8,
                gameid.length - 6
            ),
            "/",
            gameid,
            ".csa",
        ].join(""),
    urlList: "https://mzr.jp/wdoor-latest/shogi-server.log",
    logParser: (log) =>
        log
            .split("\n")
            .map(
                (s) =>
                    (s.match(
                        /^\d{4}-\d\d-\d\dT\d\d:\d\d:\d\d \[INFO\] game (?:started|finished) ((?:[\w.-]+\+){4}\d+)/
                    ) || { 1: "" })[1]
            )
            .filter((s) => s)
            .map((s) => ({ gameId: s, gameName: "☗" + s.split("+")[2] + " ☖" + s.split("+")[3] + " : " + s.split("+")[4] })),
};
</script>
<script type="text/javascript" src="./kifu-for-js-2.0.0.min.js"></script>
</head>
<body><script type="text/javascript" src="./main.js"></script></body>
</html>
